* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(210deg, #000058, #0005);
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.main .box {
  height: 200px;
  width: 250px; 
  border-radius: 10px; 
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden; 
}

.main .box::before {
  content: '';
  background: linear-gradient(210deg, #08d85a, #0876d8);
  height: 200%;
  width: 100px;
  position: absolute;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.main .box::after {
  content: ''; 
  background-color: #000;
  inset: 5px;
  position: absolute;
  border-radius: inherit;
}

.main .box h1 {
  z-index: 1;
  position: relative;
  color: #fff;
}